body {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    font-family: 'PT Serif', serif;
  }
  
.navBar {
    margin: 0 auto;
    text-align: center;
    padding-top: 10px;
}
  
.logo-img {
    padding-top: 3px;
    padding-bottom: 3px;
    margin-right: 10px;
    font-size: 13px;
    line-height: inherit;
    white-space: nowrap;
    float: left;
    text-decoration: none;
    display: flex;
    align-items: flex-start;
    color: black;
  }
  
  .logo{
    width: 40px;
    height: 40px;
    padding: 5px;
    background-color: rgb(52, 52, 52);
    vertical-align: top;
  }
  
  .logo-img>h2 {
    font-family: 'Kaushan Script', cursive;
    flex: 1;
    padding-left: 7px;
    text-align: left;
    font-size: 25px;
    font-weight: bold;
  }
  
  
  .logoText {
    font-size: 10px;
    position: relative;
    display: block;
    font-family: 'PT Serif', serif;
    color:rgb(139, 138, 138);
  }
  
  .float-fix {
    clear: both;
  }
  
  .socialLogo {
    position: relative;
    display: block;
    float: right;
    margin-top: 10px;
  }
  
  .socialLogo li {
    display: inline;
  }
  
  .socialLogo li a {
    text-decoration: none;
  }
  .lastimg{
    padding-left: 10px;
  }
  
  .line {
    background-image: repeating-linear-gradient(45deg, rgb(255, 255, 255) 0%, rgb(0, 0, 0) 10%);
    background-size: 20px 20px;
    width: 100%;
    height: 20px;
    margin: 80px;
    margin-left: 0;
    margin-right: 0;
  }
  
  .sec2 {
    font-size: 30px;
    font-weight: bold;
    text-transform: capitalize;
    text-align: left;
  }
  
  .sec1 h2 {
    display: inline;
    float: left;
    font-size: 40px;
    font-family: 'New Tegomin', serif;
    font-weight: bold;
  }
  
  .sec1 span {
    display: block;
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: 200;
    color:rgb(139, 138, 138);
    margin-top: 0.3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-bottom: 20px;
  }
  
  .print-button {
    border: 0;
    cursor: pointer;
  }
  
  .print-button:focus {
    outline: none;
  }
  
  .print-button {
    margin-top: 2rem;
    float: right;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 200;
    background-color: transparent;
  }
  
  .print-img {
    width: 12px;
    height: 12px;
  }
  
  .choco-pizza {
    width: 100%;
    margin: 20px;
    margin-left: 0;
    margin-right: 0;
  }
  
  article p {
    text-transform: capitalize;
    color: rgb(151, 118, 110);
    text-align: left;
    padding-bottom: 1.5rem;
    text-indent: 50px;
    font-size: 1.05rem;
    line-height: 25px;
  }
  
  .sec2 {
    font-family: 'Pangolin', cursive;
    height: 175px;
    position: relative;
    margin: 20px auto;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: rgb(254, 251, 234);
    box-shadow: 0px 0px 5px 0px #888;
  }
  
  .sec2::before {
    content: '';
    width: 2px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 40px;
    background-color: rgba(255, 0, 0, 0.6);
  }
  
  .pattern {
    height: 100%;
    background-image: repeating-linear-gradient(rgb(254, 251, 234) 0px, rgb(254, 251, 234) 24px, teal 25px);
  }
  
  .list {
    padding-top: 6px;
    padding-left: 56px;
    padding-right: 16px;
    line-height: 25px;
    font-size: 1.2rem;
    text-align: left;
    color: rgb(121, 104, 79);
  }
  
  .listleft {
    float: left;
    width: 50%;
  }
  
  .listright {
    width: 50%;
    float: right;
  }
  
  .listleft li:before,
  .listright li:before {
    content: "\2610";
    margin-right: 5px;
  }
  
  .check {
    text-decoration: line-through;
    
  }
  
  .checked:before {
    content: "\2611" !important;
    text-decoration: none !important;
    margin-right: 5px;
  }
  
  .sec3 {
    margin: 0 auto;
    text-align: center;
    padding-top: 10px;
  }
  
  .vanSec {
    padding-top:3px;
    padding-bottom: 3px;
    margin-right: 10px;
    float: left;
    text-align: left;
    width: 70%;
    display: flex;
    align-items: flex-start;
  }
  
  .vanImg {
    user-select: none;
    width: 50px;
    border-radius: 50%;
  }
  
  .vanInf {
    flex: 1;
    padding-left: 10px;
  }
  
  .vanName {
    margin-top: 0;
    font-size: 30px;
    font-size: 30px;
  }
  
  .vanHob {
    display: block;
    margin-top: 0;
    font-size: 20px;
    margin-bottom: 70px;

  }
  
  
  .share {
    float: right;
    width: 100px;
    margin-top: 0.5px;
    background-color: rgb(188, 112, 88);
    color: white;
    font-weight: 200;
  }
  footer{
    clear: both;
    display: block;
   margin-top: 80px 70px 10px 70px;
  }

 
  footer p {
    font-weight: 100;
    font-size:15px;
    line-height: 20px;
    font-family:Arial, Helvetica, sans-serif;
    margin-top: 0;
    color: rgb(139, 138, 138);;
  } 