@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
body { 
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;

}
header {
    margin-left: 50px ;
}
.print-button {
    border: 0;
    cursor: pointer;
    float: right;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 200;
    background-color: transparent; 
    margin-top: -3.4rem;
}

.float-fix {
  clear: both;
}

.socialLogo {
  position: relative;
  display: block;
  float: right;
  margin-top: -50px;
}

.socialLogo li {
  display: inline;
}

.socialLogo li a {
  text-decoration: none;
}
.lastimg{
  padding-left: 10px;
}

  
h2 {
  font-family: 'Kaushan Script', cursive;
    font-weight: bold;
    font-size: 50px;
    margin-top: -50px;
    margin-left:60px ;
   
}
  
h1 {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 40px;
    color: black;
    padding: 10px;
 }
.logoText {
  font-size: 14px;
   position: relative;
   display: block;
  font-weight: 200;
  font-family: 'PT Serif', serif;
   text-transform: uppercase;
   color: grey;
 
}   

.logo {
    height: 55px;
    width: 55px ;
    border-radius: 5px;
    margin-right: 10px;
    margin-top: 50px;

} 
.line {
background-image: url('/assets/hr-img.png');
width: 100%;
height: 20px;
margin: 30px;
margin: 0px 0px 0px 0px;

}
.span2 {
    font-size: 0.9rem;
   position: relative;
   display: block;
  font-weight: 200;
  font-family: 'PT Serif', serif;
   text-transform: uppercase;
   color: grey;
 
}
main {
     
   margin-left: 5%;
}

.par1{
  margin-left: 0px; 
  color: gray; 
  text-indent: 30px;
  margin-right: 20px;
}

.leftlist
{  
    font-size: 20px;
   float: left;

    width: 50%;
    color: grey;
    font-family: 'Pangolin', cursive;
}
.rightlist
{
    font-size: 20px;
   float: right;
    width: 50%;
    font-family: 'Pangolin', cursive;
    color: grey;
}
.sec2
{
    position: relative;
    margin-top: 100px;
    margin-bottom: 90px;
     
    padding-top: 40px;
    padding-bottom: 40px;
   
}

.pattern
{
  clear: both;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url('/assets/list-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 200px;
    
} 
  

.leftlist li, .rightlist li {
    list-style: none;
    
}

.leftlist li:before, .rightlist li:before{ 
    content: "\2610";
    margin-right: .5rem;
}

 .checked:before {
    content: "\2611" !important;

  }

.check {
    text-decoration: line-through; 
}


#footerpic {
    margin: -60px 0px 4px 0px; 
    height: 38px;
    width:  38px;
    z-index: +1; 
    padding: 0px 0px 0px 47%;
}

footer { 
 
    margin-left:49px;
   

}
hr {
    width: 100%;
  
}


footer p {
    text-align: center; 
    color: gray;
 }
 
 .vanImg {
   float: left;
   margin-right: 0px;
  margin-left: 0px;
  width: 70px; 
  height: 50px; 
  border-radius: 50%;
 } 

 


.vanSec p {
padding: 7px 0px 0px 30px;
text-indent: 0px;
font-size: 23px; 
display: inline-block; 
 text-align: justify; 
 margin: 5px 0px 0px -5px;
 padding-left: 80px;
 color: rgba(0, 0, 0, 0.596);
 font-family: 'PT Serif', serif;
 font-size: 15px;
}

.vanSec {
  width: 75%; float: left;
    padding: 4px 0px 56px 0px;
}

.vanName { 
 color: black;
 font-family: 'PT Serif', serif;
 font-size: 20px;
  
 padding: 6px 42px 0px 0px;
 margin: 0px 52px 0px 60px; 
 padding-left: 31px;  
}

.share {
    width: 17%;
    float: right; 
    background-color: #B0544D;
    color: white; 
    font-size: 13px; 
    /* padding: 15px 40px; */
    margin-top: 19px;
    height: 40px;
   }
